<div class="dropdown my-4 d-flex justify-content-center">
  <form action="/records/{{record._id}}?_method=PUT" method="POST">
    <div class="mb-3">
      <label for="name" class="form-label">名稱:</label>
      <input type="text" class="form-control" id="name" name="name" value="{{record.name}}">
    </div>
    <div class="mb-3">
      <label for="date" class="form-label">日期:</label>
      <input type="date" class="form-control" id="date" name="date" value="{{formatDate2 record.date}}">
    </div>
    <div class="mb-3">
      <label for="categoryId" class="form-label">類別:</label>
      <select name="categoryId" class="form-control" id="categoryId" name="categoryId">
        {{#each categories}}
        <option value="{{this._id}}" {{#if (isValueEquel this._id ../record.categoryId._id) }}selected{{/if}}>{{this.name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="mb-3">
      <label for="amount" class="form-label">金額:</label>
      <input type="number" class="form-control" id="amount" name="amount" value="{{record.amount}}">
    </div>
    <button type="submit" class="btn btn-danger">送出</button>
  </form>
</div>
