<div class="dropdown my-4 d-flex justify-content-center">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
    aria-expanded="false">
    類別
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    {{#each categories}}
    <li><a class="dropdown-item" href="/records/categories/{{this.categoryId}}">{{this.name}}</a></li>
    {{/each}}
  </ul>
</div>

<div class="total-amount-container d-flex justify-content-center">
  <div class="total-amount d-flex justify-content-center w-75">
    <div class="total-label fs-3 text-center mx-3">總金額:</div>
    <div class="amount text-center fw-bold">
      <p class="fs-1">{{totalAmount}}</p>
    </div>
  </div>
</div>

{{#each record}}
<div class="container">
  <div class="row text-center bg-light mb-2">
    <div class="col-2 d-flex align-items-center">
      <i class="{{this.categoryId.icon}}"></i>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="span-container">
        <span class="d-block">{{this.name}}</span>
        <span class="d-block">{{formatDate this.date}}</span>
      </div>     
    </div>
    <div class="col-2 d-flex align-items-center">
      {{this.amount}}
    </div>
    <div class="col-2">
      <a href="/records/{{this._id}}/edit" class="btn btn-primary">修改</a>
    </div>
    <div class="col-2">
      <form action="/records/{{this._id}}?_method=DELETE" method="post">
        <button type="submit" class="btn btn-danger">刪除</button>
      </form>
    </div>
  </div>
</div>
{{/each}}

<div class="text-center">
  <a href="/records/new" class="btn btn-danger my-3">新增支出</a>
</div>
